.projectionCard .MuiPaper-root {
    margin: auto
}

.projectionCard{
    padding: 10px;
}

#HomeContainer .MuiAppBar-root .MuiToolbar-gutters {
    padding-left: 0;
    padding-right: 0;
}

@media(max-width: 400px){
    #headerImage {
        height:50px;
        width:140px;
        margin: auto;
    }
    #toolBar{
        height: 78;
    }
}
@media(min-width: 400px) {
    #headerImage {
        height:75px;
        width:210px;
        margin: auto;
    }
    #toolBar{
        height: 103;
    }
}

#toolBar{
    padding-top: 8;
    padding-bottom: 16px;
}